%h1
  New link

%br
= form_for @node do |form|

  = form.label :redirect_url, 'Full url'
  %br
  = form.text_field :redirect_url

  - if current_user.try(:admin?)
    %br
    = form.label :short_url, 'Short url'
    %br
    = form.text_field :short_url

  %br
  %br

  = submit_tag "shorten"
