%h4
  = @pixel.name

- if @pixel.description.present?
  = @pixel.description
  %br
= @pixel.created_at.strftime("%A, %B %d, %Y at %I:%M %p")
%br
%br

= @pixel.full_url

%button.copy-button{"data-clipboard-text" => @pixel.image_tag}
  Copy image tag

%br

or copy this ->
#{@pixel.image_tag.html_safe}
<-

%br
%br

= render 'hits/pixel_index'
