.welcome-page
  .row
    .col-md-6.shorten-url-col
      %h2 Shorten URLs

      .info-item
        Prefix any web URL with
        %span.ari-host-prefix ari.host/
        to quickly shorten it.
        %a.show-me.js-show-me
          how?
        .js-example-urls.example-urls.hidden
          add
          %span.ari-host-prefix ari.host/
          to the begining of any url
          = image_tag image_url('example_with_scheme.png'), class: 'example-url'
          = image_tag image_url('example_without_scheme.png'), class: 'example-url'

          %br

          and you will be redirected to
          %span.ari-host-prefix ari.host
          = image_tag image_url('redirect_example.png'), class: 'redirect-example'

          %br

          hit shorten and copy the new link
          = image_tag image_url('redirect_shorted_example.png'), class: 'redirect-example'
      .info-item Share shortened URLs and track visits.
      .info-item Use the API to pull a timeline and count of hits.

    .col-md-6.track-pixel-col
      %h2 Track Pixels

      .info-item Create tracking pixels for emails and webpages.
      .info-item Add any meta information to each pixel.
      .info-item Use the API to pull a timeline and count of hits.

  .row
    .create-account.text-center
      = link_to 'Create an account', new_user_path
      to get started
