!!!
%html
  %head
    %title Ariuk
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if current_user
      .welcome-header
        hi, #{current_user.username}
        ||
        = link_to 'my urls', nodes_path
        ||
        = link_to 'my hits', hits_path
      %br


    - if flash[:errors]
      .flash-errors
        %ul
          - flash[:errors].each do |err|
            %li
              = err
      %br

    - if flash[:notice]
      .flash-notice
        = flash[:notice]
      %br


    = yield
