!!!
%html
  %head
    %title Ariuk
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if current_user
      hi, #{current_user.username}

    - if flash[:errors]
      %ul
        - flash[:errors].each do |err|
          %li
            = err

    = flash[:notice] if flash[:notice]


    = yield
